
unset GOOS;
unset GOARCH;
unset GOPATH;
export GOPATH=${PWD}
export GOROOT='/home/vnoronha/.gimme/versions/go1.14.2.linux.amd64';
export PATH="${GOPATH}/bin:/home/vnoronha/.gimme/versions/go1.14.2.linux.amd64/bin:${PATH}";
go version >&2;

export GIMME_ENV='/home/vnoronha/.gimme/envs/go1.14.2.linux.amd64.env';
